@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="website_container">
    <form asp-controller="Register" asp-action="ResetUserPassword" method="post">
        <h4 class="text-center">Reset Password</h4>
        <div>
            <label class="form-label">New Password</label>
            <input class="form-control" type="password" name="Password" />
        </div>
        <div>
            <label class="form-label">Confirm Password</label>
            <input class="form-control" type="password" name="ConfirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>