html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.products {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.product {
    width: calc(94%/4);
    margin-bottom: 2%;
    text-decoration: none;
}

.product p {
    margin: 0;
}
        
.product_card_image {
    width: 100% !important;
    height: 10rem !important;
    object-fit: cover !important;
    background-color: green;
}

.imgs-small {
    cursor: pointer;
}

.close_button {
    font-size: 10px;
    margin: 0;
}

.imagesPreview {
    width: 19%;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
}

#PosterImg {
    height: 30rem;
    object-fit:cover;
    transition: opacity 0.5s !important;
}

.slide_button {
    border: none;
    font-size: 1vw;
    position: absolute;
    background-color: rgba(76, 175, 80, 0.3) !important;
    padding: 5px;
}
#slide_button_prev {
    left: 10px;
}
#slide_button_next {
    right: 10px;
}

.card-title {
    text-overflow: ellipsis !important;
    overflow:hidden;
    font-weight: 500;
    font-size: 1vw;
    height: 3vw;
    width: 95%;
}

.loading-indicator {
    /* Add styles to center the loading indicator and make it visually appealing */
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}

.circular-container {
    width: 100px; /* Adjust the size of the container as needed */
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
